body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #800080, #4B0082); /* Purple gradient */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #1e1e2e; /* Dark purple background */
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.welcome-text {
    color: #dcdcdc;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0eaea;
    color: rgb(19, 18, 18);
}

.register-button {
    background-color: #800080; /* Purple button */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #6a006a;
}

.login-link {
    margin-top: 20px;
    color: #dcdcdc;
}

.login-link a {
    color: #f0e68c; /* Golden link color */
    text-decoration: none;
}

.login-link a:active {
    text-decoration: underline;
}