   # Database Configuration
   DB_HOST=host
   DB_NAME=db name
   DB_USER=db_user
   DB_PASS=db_password

   # SMS API Configuration
   SMS_API_KEY=your-sms-api-key
   SMS_SENDER_ID=DRAGONFLY
   SMS_API_URL=https://api.sms-provider.com/v1

